.outer-paper {
  margin: auto;
  width: 60%;
}

.student-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.photo {
  flex: 1;
  min-width: 30%;
  max-width: 30%;
  min-height: 130px;
  max-height: 130px;
}

.info {
  flex: 1;
  min-width: 70%;
  max-width: 70%;
}

.set-evaluations {
  flex: 1;
  min-width: 30%;
  max-width: 30%;
}

.set-status {
  flex: 1;
  min-width: 30%;
  max-width: 30%;
}

.set-remarks {
  flex: 1;
}

.square {
  flex: 1;
  min-width: 15px;
  max-width: 15px;
  min-height: 15px;
  max-height: 15px;
  background-color: #d0021b;
}

.square.red {
  background-color: #d0021b;
}

.square.yellow {
  background-color: #f4df42;
}

.square.green {
  background-color: #76db36;
}

.bigsquare {
  flex: 1;
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
}

.bigsquare.red {
  background-color: #d0021b;
}

.bigsquare.yellow {
  background-color: #f4df42;
}

.bigsquare.green {
  background-color: #76db36;
}
